<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Registros Perfil Usuario</a>
</nav>

<!--Almacenar Registros-->
<div class="agregar_contenedor"></div>

<button class="btn btn-primary mb-3 mt-2" (click)="showModal = true">Agregar Perfil Usuario</button>

<!-- Modal Bootstrap -->
<div class="modal" tabindex="-1" [ngClass]="{'show d-block': showModal}" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Perfil Usuario</h5>
        <button type="button" class="btn-close" (click)="showModal = false"></button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="user.des_per" class="form-control mb-2" placeholder="Descripcion del usuario">
        <select [(ngModel)]="user.id_isu" class="form-control mb-2">
          <option *ngFor="let lista of Usuariolist" value={{lista.Id_usu}}>{{lista.Nom_usu}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="ModalGuardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" [ngClass]="{'show d-block': showEditModal}" *ngIf="showEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Perfil Empresa</h5>
        <button type="button" class="btn-close" (click)="closeEditModal()"></button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="editDireccion.des_per" class="form-control mb-2" placeholder="Descripcion del usuario">
        <select [(ngModel)]="editDireccion.id_isu" class="form-control mb-2">
          <option *ngFor="let lista of Usuariolist" value={{lista.Id_usu}}>{{lista.Nom_usu}}</option>
        </select>
        <select [(ngModel)]="editDireccion.estado" class="form-control mb-2">
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
<div class="form-group mb-2 d-flex flex-wrap">
  <button class="btn btn-outline-primary btn-sm me-2" (click)="estadoFiltro = 'Activo'">Ver Activos</button>
  <button class="btn btn-outline-secondary btn-sm me-2" (click)="estadoFiltro = 'Inactivo'">Ver Inactivos</button>
  <button (click)="exportToExcel()" class="btn btn-secondary me-2">Exportar a Excel</button>
  &nbsp;&nbsp; <button class="btn btn-dark" (click)="openPDF()">Descargar PDF</button>`
</div>
<div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Digite el Perfil de Usuario que desea Buscar" [(ngModel)]="filterPost">
        </div>
 <div class="container">  
    <div class="row mt-25">          
   <table class="table table-borbered table-hover" id="tabla">
     <thead>
        <tr>
            <th>NO</th>
            <th>Descripcion</th>
            <th>Usuario</th>
            <th>Estado</th>
        </tr>
  
      </thead>
    <tbody >
  
                <tr *ngFor="let User of getFiltradas() | filterperfilusuario:filterPost">
                    <td >{{User.id_per}}</td>
                    <td >{{User.des_per}}</td>
                    <td >{{User.id_isu}}</td>
                    <td >{{User.estado}}</td>
          <td>
            <button class="btn btn-danger me-2" (click)="confirmarEliminar(User.id_per)">Eliminar</button>
            <button class="btn btn-success me-2" (click)="openEditModal(User)">Actualizar</button>
          </td>
                  </tr>
  
     </tbody>
   </table>
</div>
</div>
